exsclaim/figures/checkpoints
exsclaim/text/images
utils/phase_out/
__pycache__/
*.py[cod]
*.ckpt
*.pt
*.png
*.jpg
*.gif
extracted/*
!extracted/nature-test/
extracted/nature-test/*
!extracted/nature-test/figures/
!extracted/nature-test/figures/*
*.egg
*.egg-info/
.vscode
cookie
reference_extracted/
query/