exsclaim/figures/checkpoints
exsclaim/figures/scale/results/
exsclaim/text/images
utils/phase_out/
__pycache__/
*.py[cod]
*.ckpt
*.pt
*.png
*.jpg
*.gif
extracted/*
*.egg
*.egg-info/
.vscode
cookie
reference_extracted/
query/
dataset/dataset_generation/all/
dataset/dataset_generation/unit_data/
dataset/dataset_generation/scale_all/
dataset/dataset_generation/scale_some/
dataset/dataset_generation/some/
exsclaim/tests/data/scale_label_dataset/
*.cobaltlog
*.error
*.output
*/cobaltlogs/
.vscode
cookie
dist/
build/
*.sh
