numpy
pillow
matplotlib
beautifulsoup4
pyyaml>=5.1
scipy
scikit-image
torch>=1.6
opencv-contrib-python
requests
torchvision>=0.7
urllib3
spacy>=3.0
lxml
selenium
webdriver-manager
pytorch-model-summary
psycopg2-binary
responses
deepdiff