numpy
pillow
beautifulsoup4
pyyaml>=5.1
scipy
scikit-image
torch>=1.6
opencv-contrib-python
requests
torchvision>=0.7
urllib3
spacy>=3.0
lxml
pytorch-model-summary
Django>=2.0
psycopg2-binary
django-csp
responses
deepdiff
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz