certifi==2019.6.16
chardet==3.0.4
filelock==3.0.12
gdown==3.8.1
idna==2.8
numpy==1.16.4
opencv-contrib-python==4.1.0.25
Pillow==6.0.0
pytesseract==0.2.7
PyYAML==5.1.1
requests==2.22.0
six==1.12.0
torch==1.1.0
tqdm==4.32.2
urllib3==1.25.3
