<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon-32x32.png' %}"/>
    <title>EXSCLAIM!</title>
</head>


<h1>EXSCLAIM!</h1>
<h2>Automatic EXtraction, Separation, and Caption-based natural Language Annotation of IMages from scientific figures</h2>

<p>View results uploaded in a database <a href="results">here</a></p>
<p>Submit a query to run the EXSCLAIM! Pipeline and accumulate more results <a href="query">here</a></href></p>


</html>